@page "/Game/{GameHeight:int}/{GameWidth:int}/{GameAliveCellsPercent:int}"

<div class="page-container">
    <div style="display:grid; grid-template-columns:repeat(@GameWidth, 1fr); gap:1px;">
        @for (int w = 0; w < GameWidth; w++)
        {
            @for (int h = 0; h < GameHeight; h++)
            {
                <div style="background:lightblue; border:1px solid black; text-align:center; aspect-ratio: 0.01/0.01;">
                    
                </div>
            }
        }
    </div>
</div>