@page "/Game/{GameHeight:int}/{GameWidth:int}/{GameAliveCellsPercent:int}"

@if (board != null)
{
    <div class="page-container">
        <div style="display:grid; width: auto; grid-template-columns:repeat(@GameWidth, 1fr);">
            @for (var row = 0; row < board.PlayingField.GetLength(0); row++)
            {
                for (var column = 0; column < board.PlayingField.GetLength(1); column++)
                {
                    <div style="background:lightblue; border:1px solid black; text-align:center; height: calc(100vh / @GameHeight); max-width: 100vw; aspect-ratio: 1 / 1;">
                        @if (board.PlayingField[row, column])
                        {
                            <div class="cell-alive @row-@column"/>
                        }
                        else
                        {
                            <div class="cell @row-@column"/>
                        }
                    </div>
                }
            }
        </div>
    </div>
}