@page "/Game/{GameHeight:int}/{GameWidth:int}/{GameAliveCellsPercent:int}"

<div class="page-container"> 
    <div class="game-field">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>