@page "/Game/{GameHeight:int}/{GameWidth:int}/{GameAliveCellsPercent:int}"

@if (board != null)
{
    <div class="page-container">
        <div style="display:grid; grid-template-columns:repeat(@GameWidth, 1fr);">
            @for (int row = 0; row < board.PlayingField.GetLength(0); row++)
            {
                @for (int column = 0; column < board.PlayingField.GetLength(1); column++)
                {
                    <div style="background:lightblue; border:1px solid black; text-align:center; aspect-ratio: 0.01/0.01;">
                        @if (board.PlayingField[row, column])
                        {
                            <div class="cell-alive"/>
                        }
                        else
                        {
                            <div class="cell"/>
                        }
                    </div>
                }
            }
        </div>
    </div>
}