.page-container{
    background-color: #87c7ff;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell {
    aspect-ratio: 1 / 1;  /* keeps cells square */
    background: #222;     /* dead cell color */
}

.cell-alive {
    background: #4ade80;  /* alive cell color */
}